<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ростелеком">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
</head>
<body>

    <div class="wrapper">
        {% include 'rost/include/header.html' %}

        <main class="main">
            {% block content %}
            {% endblock %}
        </main>

        {% include 'rost/include/footer.html' %}
    </div>

    <script>
        let csrf_token = '{{ csrf_token }}';
    </script>
</body>
</html>